<body class="font-sans p-4 flex flex-col min-h-screen">
    <main>
        <div class="container mx-auto flex flex-col flex-1 text-center">
            <nav class="bg-white fixed w-full z-20 top-0 start-0 border-b border-gray-200 dark:border-gray-600">
                <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
                    <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
                        <img src="assets/images/osa-logo.png" class="h-8" alt="OSA Logo">
                        <span class="self-center text-2xl font-semibold whitespace-nowrap mastercolorblue">ONLINE
                            SHAREEA
                            ACADEMY</span>
                    </a>
                    <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
                        <button type="button"
                            class="text-white bg-blue-700 hover:bg-blue-800  font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                            (click)="redirectToClassLinks()">Annoor Online</button>
                        <button data-collapse-toggle="navbar-sticky" type="button"
                            class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                            aria-controls="navbar-sticky" aria-expanded="false">
                            <span class="sr-only">Open main menu</span>
                            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 17 14">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="M1 1h15M1 7h15M1 13h15" />
                            </svg>
                        </button>
                    </div>
                    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
                        id="navbar-sticky">
                        <ul
                            class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white  dark:border-gray-700">
                            <li>
                                <a class="block py-2 px-3 text-black bg-blue-700 rounded  md:bg-transparent md:p-0"
                                    aria-current="page" (click)="showSection('home')"
                                    [ngClass]="{'md:text-blue-700': showHome}">Home</a>
                            </li>
                            <li>
                                <a class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-black dark:hover:bg-gray-700 dark:hover:text-black md:dark:hover:bg-transparent dark:border-gray-700"
                                    (click)="redirectToClassLinks()">Classroom</a>
                            </li>
                            <li>
                                <a class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500  dark:hover:bg-gray-700 dark:hover:text-black md:dark:hover:bg-transparent dark:border-gray-700"
                                    (click)="showSection('about')" [ngClass]="{'md:text-blue-700': showAbout}">About</a>
                            </li>
                            <!-- <li>
                            <a href="#"
                                class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-black dark:hover:bg-gray-700 dark:hover:text-black md:dark:hover:bg-transparent dark:border-gray-700">Contact</a>
                        </li> -->
                        </ul>
                    </div>
                </div>
            </nav>

            <section id="Home" class="mb-8 text-center container mx-auto px-5 mt-20" *ngIf="showHome">
                <img src="assets/images/osa-banner.png" alt="osa-banner">

                <section id="assemply" class="mb-8 text-center container mx-auto px-5 mt-10">
                    <div class="container mx-auto px-4 lg:px-8 py-8">
                        <div [ngClass]="{
                            'relative': true,
                            'w-full': true,
                            'overflow-hidden': true,
                            'after:clear-both': true,
                            'after:block': true,
                            'after:content-[\'\']': true
                          }">
                            <ng-container *ngFor="let slide of audioData; let index = index">
                                <div *ngIf="activeSlide === index" [ngClass]="{'relative': true, 'w-full': true, 'transition-transform': true,
                                'duration-[600ms]': true, 'ease-in-out': true,
                                'motion-reduce:transition-none': true}" [attr.x-cloak]="true">
                                    <p class="text-xs p-10">{{ slide.description }}</p>
                                    <iframe style="display: initial;" width="560" height="315" [src]="slide.link"
                                        frameborder="0" allowfullscreen class="mb-4"></iframe>
                                    <div class="absolute inset-x-0 hidden text-center text-black md:block">
                                    </div>
                                </div>
                            </ng-container>

                            <!-- Previous button -->
                            <button (click)="prevSlide()"
                                class="absolute bottom-0 left-0 top-0 z-[1] flex w-[15%] items-center justify-center border-0 bg-none p-0 text-center text-black opacity-50 transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-black hover:no-underline hover:opacity-90 hover:outline-none focus:text-black focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none"
                                type="button">
                                <span class="inline-block h-8 w-8">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" class="h-6 w-6">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M15.75 19.5L8.25 12l7.5-7.5" />
                                    </svg>
                                </span>
                                <span
                                    class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]">
                                    Previous
                                </span>
                            </button>

                            <!-- Next button -->
                            <button (click)="nextSlide()"
                                class="absolute bottom-0 right-0 top-0 z-[1] flex w-[15%] items-center justify-center border-0 bg-none p-0 text-center text-black opacity-50 transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-black hover:no-underline hover:opacity-90 hover:outline-none focus:text-black focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none"
                                type="button">
                                <span class="inline-block h-8 w-8">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" class="h-6 w-6">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                                    </svg>
                                </span>
                                <span
                                    class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]">
                                    Next
                                </span>
                            </button>
                        </div>
                    </div>
                </section>
            </section>

            <section id="About" *ngIf="showAbout" class="mb-8 text-center container mx-auto px-5 mt-20">
                <h2 class="text-2xl font-bold mb-3">About OSA</h2>
                <p class="text-md leading-relaxed">
                    തൊഴിലിനും ഭൗതിക പഠനത്തിനുമൊപ്പം മത പാണ്ഡിത്യം നേടാൻ ഇതാ ഒരു സുവർണ്ണാവസരം
                    ( പ്രായ പരിധിയില്ല.പുരു & സ്ത്രീ)
                </p>
                <p class="text-md leading-relaxed">
                    ANNOOR ONLINE SHAREEA ACADEMY
                    🔸നാലാം ബാച്ചിലേക്കുള്ള പ്രവേശനം ആരംഭിച്ചു (2023)
                    🔸അറബി ഭാഷ പഠനത്തോടൊപ്പം 2 + 3 വർഷത്തെ ശരീഅ ഡിഗ്രി പഠനം പാരമ്പര്യ ദർസ് രീതിയിൽ കിതാബ് പഠനം.
                    🔸കുറഞ്ഞ ഫീസിൽ മികച്ച പഠനം
                    🔸വളരെ പ്രഗൽഭരായ ഉസ്താദുമാരുടെ നേതൃത്വം
                </p>

                <p class="text-md leading-relaxed">
                    വിശദ വിവരങ്ങൾക്ക്
                    +916235726721
                </p>

                <p class="text-md leading-relaxed">
                    |അഡ്മിഷൻ തുടരുന്നു|
                    ➡അന്നൂർ ഓൺലൈൻ മദ്രസ (1 മുതൽ 7 വരെ)+918089476039
                    ➡അന്നൂർ ഓൺലൈൻ ട്യൂഷൻ അക്കാഡമി (1 മുതൽ 12 വരെ ) (CBSE,KERALA SYLLABUS)+919746207862
                    ▪▪▪▪▪▪▪▪▪▪
                    സയ്യിദ് മുനവ്വറലി ശിഹാബ് തങ്ങൾ, പാണക്കാട്,
                    സയ്യിദ് ശഹീറലി ശിഹാബ് തങ്ങൾ ഫൈസി,
                    (Advisers)
                    മുഈനുദ്ദീൻ ബാഖവി
                    (Director)
                </p>
            </section>

        </div>
    </main>
    <hr>

    <div class="container mx-auto text-center mt-auto">
        <div class="flex flex-col items-center justify-between mt-4">
            <!-- Copyright text -->
            <div id="copyright" class="text-left mb-2">
                <p>&copy; 2024 Online Sharee'a Academy</p>
            </div>

            <!-- Follow Us Section -->
            <div id="followUs" class="flex items-center mb-2">
                <p>Follow Us</p>
                <div class="social-icons">
                    <a href="#" class="social-icon ml-5" title="Facebook">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                    <a href="https://www.youtube.com/channel/UCJcey_u4huWZv_FFsUFRH8Q" class="social-icon ml-1"
                        target="_blank" title="YouTube">
                        <i class="fab fa-youtube"></i>
                    </a>
                    <a href="#" class="social-icon ml-1" title="Instagram">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>

            <!-- Donate Button -->
            <button id="donateBtn" class="bg-blue-500 text-white px-2 py-1 rounded mb-2">Donate to OSA
                Charity</button>
        </div>

        <div class="grid grid-flow-col auto-cols-max">
            <div id="qrPopup" class="col-span-2 popup">
                <button id="closeBtn" onclick="closePopup()"
                    class="absolute top-2 right-2 text-2xl cursor-pointer">&times;</button>
                <img id="qrCodeImage" src="#" alt="QR Code" class="mx-auto my-4">
            </div>
        </div>
    </div>
</body>